body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#main {
  font-size: 15px;
  line-height: 22px;
  width: 626px;
  margin: 64px auto 64px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40.45px;
  color: #3F3D56;
}

span, a {
  font-weight: bold;
  color: #3F3D56;
}

h1 span {
  color:#EE24FF
}

p {
  width: 540px;
  margin:auto;
  color: #828282;
}

#p2 {
  margin-bottom: 32px;
}

#footer {
  margin-top: 64px;
}

.line {
  width: 391px;
  height: 0;
  border: 1px #ECEFF2 solid;
  margin: 0 auto 16px;
}

footer a{
  text-decoration: none;
}

footer a+a {
  margin-left: 42px;
}

footer img {
position:absolute;
width: 100%;
right: 0;
top: 686px;

}
